<div class="form-container">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "new-post-form" }) do |f| %>
    <div class="form-field">
      <%= f.label :email %>
      <%= f.email_field :email,
            autofocus: true,
            autocomplete: "email",
            class: "input-field" %>
    </div>

    <div class="form-field">
      <%= f.label :password %>
      <%= f.password_field :password,
            autocomplete: "current-password",
            class: "input-field" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-field">
        <label class="remember-label">
          <%= f.check_box :remember_me %>
          Remember me
        </label>
      </div>
    <% end %>

    <div class="form-submit">
      <%= f.submit "Log in", class: "primary-button" %>
    </div>
  <% end %>

  <div class="auth-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
